<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<h1>About</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fuga labore delectus perspiciatis, consectetur veniam magni voluptas architecto repellendus aspernatur amet temporibus impedit facere earum nesciunt sunt eum dolorum iste.</p>
</div>
