<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <h1>Contact Me</h1>
  <hr>

  <p> Would you like to work together? </p> 

  <h2>Phone</h2>
  <p>514-755-9070</p>

  <h2>Email</h2>
  <p>lea@leajasmine.com</p>
  <p>Send me a message <a href="mailto:lea@leajasmine.com?subject=PortfolioContact" "email me">here</a>
  </p>
</div>
