<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Lea Jasmine</h1>
    <p class="lead">Multidisciplinary artist, full-stack programmer, and dog mom in Montreal.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>

</div>

